name: tests

on:
  - push
  - pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      matrix:
        php: ['8.0', '8.1', '8.2']
        laravel: ['9.x']
        dependencies: ['highest', 'lowest']
        exclude:
          - php: '8.2'
            laravel: '9.2'
    name: PHP ${{ matrix.php }} Laravel ${{ matrix.laravel }} (${{ matrix.dependencies }})
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Installing PHP
        uses: shivammathur/setup-php@master
        with:
          php-version: ${{ matrix.php }}
          extensions: mbstring, json, sqlite3
          tools: composer:v2
      - name: Lock Laravel Version
        run: composer require "laravel/framework:${{ matrix.laravel }}" --no-update --dev -v
      - name: Install dependencies
        uses: "ramsey/composer-install@v1"
        with:
          dependency-versions: "${{ matrix.dependencies }}"
          composer-options: "--prefer-dist --no-cache"
      - name: Create Database
        run: mkdir -p database && touch database/database.sqlite
      - name: Run Tests
        run: php vendor/bin/phpunit --testdox
